body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.spkimg{
    display: block;
    width: 30%;
    position: relative;
    top:25%;
}
.bottom-left{
    position:absolute;
    bottom: 80px;
    left: 50px;
    font-size: 43px;
}
.bottom-l{
    position: absolute;
    bottom: 70px;
    left:50px;
}
.c-left{
    position:fixed;
    top: 50%;
    left: 10%;
}

.c-right{
    position: fixed;
    top: 50%;
    right: 10%;
}

.fullscreen{
    width: 105%;
    margin-left: -2%;
    padding-left: 2%;
}

.heading{font-size: 56px;}

.tagline{font-size: 36px;}

@media (max-width:640px){
    .spkimg{
        display: block;
        width: 60%;
    }

    .heading{font-size: 36px;}
    .tagline{font-size: 24px;}
}

